@import "tailwindcss";

:root {
    --main-green: #10B981;
    --main-green-light: #DCFCE7;
    --main-green-dark: #065F46;
}

@theme {
  --animate-shake: shake 0.5s ease-in-out;

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
}